.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.auth-card {
    width: 17rem;
    height: 20rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.auth-type {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: grey;
}

.auth-field {
    margin-top: 10px;
}